{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "{% static 'favicon.png' %}" rel="icon" type="image/png">
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <style>
        @import url('https://fonts.cdnfonts.com/css/impact');
    </style>
</head>

<body class="home-page">

            {% if messages %}
                <div id="message-container" style="
                    position: fixed;
                    top: 20px;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 1000;
                ">
                    {% for message in messages %}
                        <div class="popup-message" style="
                            background: #333;
                            color: white;
                            padding: 10px 20px;
                            border-radius: 8px;
                            font-weight: 500;
                            opacity: 1;
                            transition: opacity 0.5s ease;
                        ">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}


            <header class="modern-header">
                <div class="header_inner">
                    <form onsubmit="return handleSearchSubmit(event)" style="display:flex; align-items:center; gap:10px;">
                        <div style="position: relative; width: 300px;">
                            
                            <input type="text" id="searchBox" name="username"
                                placeholder="Search creators...."
                                autocomplete="off"
                                style="
                                        width:370px;
                                        height:54px;

                                        padding:0 22px;

                                        border-radius:18px;

                                        background:rgba(255,255,255,0.06);

                                        border:1px solid rgba(255,255,255,0.08);

                                        color:white;

                                        font-size:16px;

                                        backdrop-filter:blur(12px);

                                        transition:0.25s ease;
                            ">

                            <div id="searchResults"
                                class="search-results-box">
                            </div>

                        </div>

                    </form>
                    <div class="right-side lg:pr-4 flex items-center gap-5">
                         <!-- upload -->
                        <a href="#" class="upload-btn">
                            <ion-icon name="add-circle" class="-mb-1
                             mr-1 opacity-90 text-xl uilus-circle"></ion-icon> Upload Memes
                        </a>
                         <!-- upload dropdown box -->
                        <div uk-dropdown="pos: bottom-right; mode:click; animation: uk-animation-slide-top-small"
                            class="header_dropdown"
                            style="max-height: 80vh; overflow-y: auto;">
    
                            <!-- notivication header -->
                            <div class="px-4 py-3 -mx-5 -mt-4 mb-5 border-b">
                                <h4>Upload Memes</h4>
                            </div>
    
                            <!-- notification contents -->
                            <div class="flex justify-center flex-center text-center">
    
                                <div class="flex flex-col choose-upload text-center"
                                    style="background:white; padding:15px; border-radius:12px; box-shadow:0 10px 25px rgba(0,0,0,0.1);">
                                   
                                   <!-- <div class="bg-gray-100 border-2 border-dashed flex flex-col h-24 items-center justify-center relative w-full rounded-lg  ">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-12">
                                            <path d="M5.5 13a3.5 3.5 0 01-.369-6.98 4 4 0 117.753-1.977A4.5 4.5 0 1113.5 13H11V9.413l1.293 1.293a1 1 0 001.414-1.414l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L9 9.414V13H5.5z" />
                                            <path d="M9 13h2v5a1 1 0 11-2 0v-5z" />
                                        </svg>
                                    </div>-->
                                    <form action="/upload/" method="POST" >
                                    {% csrf_token %}

                                    <label style="
                                        display:block;
                                        padding:15px;
                                        border:2px dashed #ccc;
                                        border-radius:12px;
                                        text-align:center;
                                        cursor:pointer;
                                        background:#fafafa;
                                        margin-top:10px;
                                    ">
                                        <span id="uploadText">
                                            📤 Click to upload image
                                        </span>
                                        <input type="file" id="imageInput" name="upload_image" accept="image/*" style="display:none;">
                                    </label>

                                    <input type="text" id="topText" placeholder="Top Text"
                                        style="width:100%; padding:12px; border-radius:10px; border:1px solid #ddd; margin-top:10px; outline:none;">

                                    <input type="text" id="bottomText" placeholder="Bottom Text"
                                        style="width:100%; padding:12px; border-radius:10px; border:1px solid #ddd; margin-top:8px; outline:none;">
                                    
                                    <select id="fontSelect" style="width:100%; margin-top:8px;">
                                        <option value="Impact">Meme (Impact)</option>
                                        <option value="Anton">Modern</option>
                                        <option value="Arial Black">Bold</option>
                                        <option value="Poppins">Clean</option>
                                        <option value="TT Livret Subhead Trl">Aesthetic</option>
                                    </select>

                                    <canvas id="memeCanvas" style="
                                        width:100%;
                                        margin-top:15px;
                                        border-radius:12px;
                                        border:2px dashed #ddd;
                                        background:#f9f9f9;
                                    "></canvas>

                                    <input type="hidden" name="final_image" id="finalImage">

                                    <textarea name="caption" placeholder="Write a caption..."
                                        style="width:100%; padding:12px; border-radius:10px; border:1px solid #ddd; margin-top:10px; outline:none;"></textarea>

                                    <br>

                                    <div style="display:flex; gap:10px; margin-top:15px;">

                                        <button type="button" onclick="generateMeme()" style="
                                            flex:1;
                                            padding:12px;
                                            border-radius:10px;
                                            background: linear-gradient(135deg, #ff4b7d, #ff7aa2);
                                            color:white;
                                            font-weight:600;
                                            border:none;
                                            cursor:pointer;
                                        ">
                                            ✨ Preview Meme
                                        </button>

                                        <button type="submit" onclick="prepareUpload()" style="
                                            flex:1;
                                            padding:12px;
                                            border-radius:10px;
                                            background: linear-gradient(135deg, #ff0055, #ff4b7d);
                                            color:white;
                                            font-weight:600;
                                            border:none;
                                            cursor:pointer;
                                        ">
                                            🚀 Upload
                                        </button>

                                    </div>
                                    </form>
    
                                    <!-- <a href="#" class="uk-text-muted mt-3 uk-link"
                                        uk-toggle="target: .choose-upload ;  animation: uk-animation-slide-right-small, uk-animation-slide-left-medium; queued: true">
                                        Or Import Video </a> -->
                                </div>
    
                                <div class="uk-flex uk-flex-column choose-upload" hidden>
                                    <div class="mx-auto flex flex-col h-24 items-center justify-center relative w-full rounded-lg">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-12">
                                            <path fill-rule="evenodd" d="M2 9.5A3.5 3.5 0 005.5 13H9v2.586l-1.293-1.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 15.586V13h2.5a4.5 4.5 0 10-.616-8.958 4.002 4.002 0 10-7.753 1.977A3.5 3.5 0 002 9.5zm9 3.5H9V8a1 1 0 012 0v5z" clip-rule="evenodd" />
                                        </svg>
                                    </div>
                                    <p class="my-3 leading-6"> Import videos from YouTube <br> Copy / Paste your video link here </p>
                                    <form class="uk-grid-small" uk-grid>
                                        <div class="uk-width-expand">
                                            <input type="text" class="uk-input uk-form-small  bg-gray-200 " style="box-shadow:none" placeholder="Paste link">
                                        </div>
                                        <div class="uk-width-auto"> <button type="submit" class="button soft-warning -ml-2">
                                                Import </button> </div>
                                    </form>
                                    <a href="#" class="uk-text-muted mt-3 uk-link"
                                        uk-toggle="target: .choose-upload ; animation: uk-animation-slide-left-small, uk-animation-slide-right-medium; queued: true">
                                         </a>
                                </div>
    
                            </div>
                            <div class="px-4 py-3 -mx-5 -mb-4 mt-5 border-t text-sm">
                                Maximum size limit is 20MB
                            </div>
                        </div>
                        

                        <a href="#">
                            {% if user_profile.profileimg %}
                                <img src="{{ user_profile.profileimg.url }}" class="header-avatar" alt="">
                            {% else %}
                                <img src="{% static 'assets/images/avatar-1.jpg' %}" class="header-avatar" alt="">
                            {% endif %}
                        </a>
                   <div uk-drop="mode: click;offset:12"
                        class="modern-profile-dropdown">

                        <ul>

                            <li>
                                <a href="/profile/{{ request.user.username }}/">
                                    <i class="uil-user"></i>
                                    <span>Profile</span>
                                </a>
                            </li>

                            <li>
                                <a href="/settings/">
                                    <i class="uil-cog"></i>
                                    <span>Settings</span>
                                </a>
                            </li>

                            <li>
                                <button onclick="openLogoutModal()">
                                    <i class="uil-signout"></i>
                                    <span>Log Out</span>
                                </button>
                            </li>

                        </ul>
                    </div>

                    </div>
                </div>
            </header>

            <div class="container m-auto">

                <!--<h1 class="lg:text-2xl text-lg font-extrabold leading-none text-gray-900 tracking-tight mb-5"> Feed </h1>--->

                <div class="lg:flex justify-center lg:space-x-10 lg:space-y-0 space-y-5">

                    <!-- left sidebar-->
                    <div class="space-y-5 flex-shrink-0 lg:w-7/12">

                        <!-- post 1-->
                         {% for post in posts %}
                        <div class="meme-post-card -mx-2 lg:mx-0">
    
                            <!-- post header-->
                            <div class="flex justify-between items-center px-4 py-3">
                                <div class="flex flex-1 items-center space-x-4">
                                    <a href="{% url 'profile' post.user %}">
                                        <div class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-0.5 rounded-full">  
                                            <!-- <img src="{{ user_profile.profileimg.url }}" class="bg-gray-200 border border-white rounded-full w-8 h-8"> -->
                                            {% load static %}

                                            {% if post.author_profile and post.author_profile.profileimg %}
                                                <img src="{{ post.author_profile.profileimg.url }}"
                                                    style="width:40px; height:40px; border-radius:50%; object-fit:cover;">
                                            {% else %}
                                                <img src="{% static 'assets/images/avatar-1.jpg' %}"
                                                    style="width:40px; height:40px; border-radius:50%; object-fit:cover;">
                                            {% endif %}
                                        </div>
                                    </a>
                                    <span class="block capitalize font-semibold "> <a href="{% url 'profile' post.user %}">@{{post.user}}</a> </span>
                                </div>
                              <div>
                                <a href="#"> <i class="icon-feather-more-horizontal text-2xl hover:bg-gray-200 rounded-full p-2 transition -mr-1 "></i> </a>
                                <div uk-drop="mode: click;pos: bottom-right" class="post-dropdown-menu">
                                    <ul class="space-y-1">
                                    <li>
                                        <button onclick="sharePost('{{ post.id }}')"
                                            class="flex items-center px-3 py-2 hover:bg-gray-200 rounded-md w-full text-left">
                                            <i class="uil-share-alt mr-1"></i> Share
                                        </button>
                                    </li>
                                    <li>
                                        <form action="{% url 'favourite' %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="post_id" value="{{ post.id }}">

                                            {% if post.id|stringformat:"s" == user_favourite_post_id %}
                                                <button type="submit" class="flex items-center px-3 py-2 w-full text-left hover:bg-gray-200 rounded-md text-yellow-500">
                                                    ⭐ Remove Favourite
                                                </button>
                                            {% else %}
                                                <button type="submit" class="flex items-center px-3 py-2 w-full text-left hover:bg-gray-200 rounded-md">
                                                    ☆ Add Favourite
                                                </button>
                                            {% endif %}
                                        </form>
                                    </li>
                                      <li>
                                        <hr class="-mx-2 my-2 ">
                                      </li>
                                        {% if post.user == user.username %}

                                        <li>
                                            <form action="{% url 'delete_post' %}" method="POST" onsubmit="return confirmDelete(this);">
                                                {% csrf_token %}
                                                <input type="hidden" name="post_id" value="{{ post.id }}">

                                                <button type="submit" class="flex items-center px-3 py-2 text-red-500 hover:bg-red-100 rounded-md w-full text-left">
                                                    <i class="uil-trash-alt mr-1"></i> Delete
                                                </button>
                                            </form>
                                        </li>

                                        {% else %}

                                        <li>
                                            <form onsubmit="return openReportModal(this);">
                                                {% csrf_token %}
                                                <input type="hidden" name="post_id" value="{{ post.id }}">

                                                <button type="submit" class="flex items-center px-3 py-2 text-yellow-500 hover:bg-yellow-100 rounded-md w-full text-left">
                                                    <i class="uil-exclamation-triangle mr-1"></i> Report
                                                </button>
                                            </form>
                                        </li>

                                        {% endif %}
                                    </ul>
                                
                                </div>
                              </div>
                            </div>
    
                            <div uk-lightbox>
                                <a href="{{post.image.url}}">  
                                    {% if post.image %}
                                        <img src="{{ post.image.url }}" alt="">
                                    {% endif %}
                                </a>
                            </div>
                            
    
                            <div class="py-3 px-4 space-y-3"> 
                               
                                <div class="flex space-x-4 lg:font-bold">

                                    <button id="like-btn-{{ post.id }}" class="like-button {% if post.id in liked_posts %}liked{% endif %}" onclick="likePost('{{ post.id }}')">
                                        <div class="p-2 rounded-full">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="25" height="25" class="">
                                                <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
                                            </svg>
                                            <p id="likes-{{ post.id }}">
                                                {% if post.no_of_likes == 0 %}
                                                    No likes
                                                {% elif post.no_of_likes == 1 %}
                                                    Liked by {{post.no_of_likes}} person
                                                {% else %}
                                                    Liked by {{post.no_of_likes}} people
                                                {% endif %}
                                            </p>
                                        </div>
                                        
                                    </button>

 
                                </div>
                                
                                    <!-- caption feature..... -->
                                <p>
                                    <a href="{% url 'profile' post.user %}"><strong>{{post.user}}</strong></a> {{post.caption}} 
                                </p>

    
                            </div>
    
                        </div>
                        {% endfor %}

                    </div>

                    <!-- right sidebar-->
                    <div class="lg:w-5/12 suggestion-wrapper">

                        <div class="suggestion-card">

                            <div class="bg-gray-50  border-b border-gray-100 flex items-baseline justify-between py-4 px-6 ">
                                <h2 class="font-semibold text-lg">Users You Can Follow</h2>
                                
                            </div>
                            {% for suggestion in suggestions_username_profile_list %}

                            <div class="px-4 py-3 flex items-center justify-between">

                                <a href="{% url 'profile' suggestion.user.username %}" 
                                class="flex items-center gap-3">

                                    {% if suggestion.profileimg %}
                                        <img src="{{ suggestion.profileimg.url }}" 
                                            class="w-10 h-10 rounded-full object-cover">
                                    {% else %}
                                        <img src="{% static 'assets/images/avatar-1.jpg' %}" 
                                            class="w-10 h-10 rounded-full object-cover">
                                    {% endif %}

                                    <span class="font-semibold">
                                        {{ suggestion.user.username }}
                                    </span>

                                </a>

                               
                                <form action="{% url 'follow' %}" method="POST" style="display:inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="follower" value="{{ user.username }}">
                                    <input type="hidden" name="user" value="{{ suggestion.user.username }}">
                                    <input type="hidden" name="next" value="{{ request.path }}">

                                    {% if suggestion.user.username in following_users %}
                                        <button type="submit" class="follow-btn-small">
                                            Following
                                        </button>
                                    {% else %}
                                        <button type="submit" class="follow-btn-small">
                                            Follow
                                        </button>
                                    {% endif %}
                                </form>

                            </div>

                            {% endfor %}
                        </div>

                      

                    </div>

                </div>               
          

            </div>

        </div>

    </div>

    <div id="deleteModal" style="
        display:none;
        position:fixed;
        top:0; left:0;
        width:100%; height:100%;
        background: rgba(0,0,0,0.4);
        backdrop-filter: blur(5px);
        justify-content:center;
        align-items:center;
        z-index:2000;
    ">

        <div id="modalBox" style="
            background:#1e293b;
            color:white;
            padding:25px;
            border-radius:16px;
            text-align:center;
            width:300px;
            transform: scale(0.7);
            opacity: 0;
            transition: all 0.25s ease;
            box-shadow:0 20px 40px rgba(0,0,0,0.4);
        ">
            <p style="
                margin-bottom:15px;
                font-weight:600;
                color:white;
                font-size:16px;
            ">
                Are you sure you want to delete this post?
            </p>

            <button id="confirmBtn"
                onclick="confirmYes()"
                style="margin-right:10px; padding:6px 18px; background:#ff4d4d; color:white; border:none; border-radius:6px;">
                Yes
            </button>

            <button onclick="closeModal()"
                style="padding:6px 18px; background:#ddd; border:none; border-radius:6px;">
                No
            </button>
        </div>

    </div>

<div id="reportModal" style="
    display:none;
    position:fixed;
    top:0; left:0;
    width:100%; height:100%;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(5px);
    justify-content:center;
    align-items:center;
    z-index:2000;
">

    <div id="reportBox" style="
        background:#1e293b;
        color:white;
        padding:25px;
        border-radius:12px;
        text-align:center;
        width:320px;
        transform: scale(0.7);
        opacity: 0;
        transition: all 0.25s ease;
    ">

        <p style="margin-bottom:10px;">Why are you reporting this post?</p>

        <textarea id="reportReason"
            placeholder="Enter reason (10–100 characters)"
            style="
            width:100%;
            padding:8px;
            border:1px solid #334155;
            border-radius:6px;
            margin-bottom:10px;
            background:#0f172a;
            color:white;
        "></textarea>
        <button id="reportConfirmBtn"
            onclick="submitReport()"
            style="margin-right:10px; padding:6px 18px; background:#f59e0b; color:white; border:none; border-radius:6px;">
            Send
        </button>

        <button onclick="closeReportModal()"
            style="padding:6px 18px; background:#ddd; border:none; border-radius:6px;">
            Cancel
        </button>

    </div>
</div>




 <!-- Scripts
    ================================================== -->
    <script src="{% static 'assets/js/tippy.all.min.js' %}"></script>  
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>


    <script src="{% static '../../unpkg.com/ionicons%405.2.3/dist/ionicons.js' %}"></script>

    <script>
        let isProcessing = false;

        function likePost(postId) {
        let likesEl = document.getElementById(`likes-${postId}`);
        let btn = document.getElementById(`like-btn-${postId}`);
        if(btn.dataset.loading === "true"){
            return;
        }

        btn.dataset.loading = "true";

        let currentText = likesEl.innerText;
        let currentLikes = parseInt(currentText.match(/\d+/)) || 0;

        let alreadyLiked = btn.classList.contains("liked");

        if (alreadyLiked) {

            currentLikes--;

            btn.classList.remove("liked");

        } else {

            currentLikes++;

            btn.classList.add("liked");
        }

        likesEl.innerText =
            currentLikes === 0 ? "No likes" :
            currentLikes === 1 ? "Liked by 1 person" :
            `Liked by ${currentLikes} people`;

        fetch(`/like-post?post_id=${postId}`)
            .then(res => res.json())
            .then(data => {
                // optional sync (in case mismatch)
                likesEl.innerText =
                    data.likes === 0 ? "No likes" :
                    data.likes === 1 ? "Liked by 1 person" :
                    `Liked by ${data.likes} people`;

                if(data.liked){

                    btn.classList.add("liked");

                }else{

                    btn.classList.remove("liked");
                }

                btn.dataset.loading = "false";
            })
            .catch(error => {

                console.log(error);

                btn.dataset.loading = "false";
            })
    }
    </script>
    <script>
        const searchBox = document.getElementById('searchBox');
        const resultsBox = document.getElementById('searchResults');

        searchBox.addEventListener('keyup', () => {

            let query = searchBox.value.trim();
            if (query.length === 0) {
                resultsBox.style.display = 'none';
                resultsBox.innerHTML = '';
                return;
            }

            fetch(`/search-ajax?q=${query}`)
                .then(res => res.json())
                .then(data => {
                    resultsBox.innerHTML = '';

                    if (data.length === 0) {
                        resultsBox.innerHTML = '<p style="padding:8px;">No user found</p>';
                    } else {
                        data.forEach(user => {
                            resultsBox.innerHTML += `
                                <div
                                    class="search-result-user"
                                    onclick="goProfile('${user.username}')"
                                >
                                    <img src="${user.image}"
                                        class="search-result-avatar">

                                    <span>${user.username}</span>
                                </div>
                            `;
                        });
                    }

                    resultsBox.style.display = 'block';
                });
        });

    
        document.addEventListener('click', function(e) {
            if (!searchBox.contains(e.target) && !resultsBox.contains(e.target)) {
                resultsBox.style.display = 'none';
            }
        });


        searchBox.addEventListener('keydown', function(e) {
            if (e.key === "Escape") {
                resultsBox.style.display = 'none';
            }
        });


        function goProfile(username) {
            window.location.href = `/profile/${username}/`;
        }
    </script>
    <script>
        setTimeout(() => {
            const msg = document.querySelector('.popup-message');
            if (msg) {
                msg.style.opacity = '0';
                setTimeout(() => {
                    msg.remove();
                }, 500);
            }
        }, 1000);
    </script>
    <script>
        let formToSubmit = null;

        function confirmDelete(form) {
            formToSubmit = form;

            let modal = document.getElementById('deleteModal');
            let box = document.getElementById('modalBox');

            modal.style.display = 'flex';

            setTimeout(() => {
                box.style.transform = 'scale(1)';
                box.style.opacity = '1';
            }, 10);

            return false;
        }

        function confirmYes() {
            let btn = document.getElementById('confirmBtn');

            btn.innerText = "Deleting...";
            btn.disabled = true;

            if (formToSubmit) {
                formToSubmit.submit();
            }
        }

        function closeModal() {
            let modal = document.getElementById('deleteModal');
            let box = document.getElementById('modalBox');

            box.style.transform = 'scale(0.7)';
            box.style.opacity = '0';

            setTimeout(() => {
                modal.style.display = 'none';
            }, 200);
        }
    </script>
    <script>
        let reportForm = null;

        function openReportModal(form) {
            reportForm = form;

            let modal = document.getElementById('reportModal');
            let box = document.getElementById('reportBox');

            modal.style.display = 'flex';

            setTimeout(() => {
                box.style.transform = 'scale(1)';
                box.style.opacity = '1';
            }, 10);

            return false;
        }

        function submitReport() {

            let reason =
                document.getElementById('reportReason')
                .value
                .trim();

            let btn =
                document.getElementById('reportConfirmBtn');

            if(reason.length < 10){

                alert("Reason must be at least 10 characters");
                return;
            }

            if(reason.length > 100){

                alert("Reason must be less than 100 characters");
                return;
            }

            btn.innerText = "Sending...";
            btn.disabled = true;

            let csrf =
                reportForm.querySelector('[name=csrfmiddlewaretoken]');

            if(!csrf){

                csrf = document.createElement("input");

                csrf.type = "hidden";
                csrf.name = "csrfmiddlewaretoken";

                csrf.value =
                    document.querySelector(
                        '[name=csrfmiddlewaretoken]'
                    ).value;

                reportForm.appendChild(csrf);
            }

            reportForm.action = "/report-post/";
            reportForm.method = "POST";

            reportForm.submit();
        }

        function closeReportModal() {
            let modal = document.getElementById('reportModal');
            let box = document.getElementById('reportBox');

            box.style.transform = 'scale(0.7)';
            box.style.opacity = '0';

            setTimeout(() => {
                modal.style.display = 'none';
                document.getElementById('reportReason').value = "";
            }, 200);
        }
    </script>
    <script>
    document.addEventListener("DOMContentLoaded", function(){

        document.fonts.ready.then(() => {
            console.log("Fonts loaded");
        });

        let canvas = document.getElementById("memeCanvas");
        let ctx = canvas.getContext("2d");
        let image = new Image();

        document.getElementById("imageInput").onchange = function(e){
            let file = e.target.files[0];

            if(file){
                let fileName = file.name;

                if(fileName.length > 22){
                    fileName =
                        fileName.substring(0, 20) + "...";
                }

                document.getElementById("uploadText")
                    .innerText = "✅ " + fileName;

                let reader = new FileReader();
                reader.onload = function(event){
                    image.src = event.target.result;
                }
                reader.readAsDataURL(file);
            }
        };

        function drawText(ctx, text, x, y, maxWidth){
            text = text.toUpperCase();

            let fontSize = 50;
            let selectedFont = document.getElementById("fontSelect").value;
            ctx.font = `bold ${fontSize}px "${selectedFont}", "Arial Black", sans-serif`;

            while(ctx.measureText(text).width > maxWidth){
                fontSize -= 2;
                let selectedFont = document.getElementById("fontSelect").value;
                ctx.font = `bold ${fontSize}px "${selectedFont}", "Arial Black", sans-serif`;
            }

            let words = text.split(" ");
            let lines = [];
            let line = "";

            for(let i=0; i<words.length; i++){
                let testLine = line + words[i] + " ";
                let width = ctx.measureText(testLine).width;

                if(width > maxWidth && i > 0){
                    lines.push(line);
                    line = words[i] + " ";
                } else {
                    line = testLine;
                }
            }
            lines.push(line);

            lines.forEach((l, i) => {
                let lineY = y + (i * fontSize * 1.1);

                ctx.strokeText(l, x, lineY);
                ctx.fillText(l, x, lineY);
            });
        }

        window.generateMeme = function(){
            if(!image.src){
                alert("Select image first");
                return;
            }

            canvas.width = image.width;
            canvas.height = image.height;

            ctx.drawImage(image, 0, 0);

            ctx.fillStyle = "white";
            ctx.strokeStyle = "black";
            ctx.lineWidth = 8;
            ctx.lineJoin = "round";
            ctx.textAlign = "center";
            ctx.shadowColor = "black";
            ctx.shadowBlur = 2;

            let topText = document.getElementById("topText").value;
            let bottomText = document.getElementById("bottomText").value;

            drawText(ctx, topText, canvas.width/2, 60, canvas.width - 40);
            drawText(ctx, bottomText, canvas.width/2, canvas.height - 100, canvas.width - 40);
        }

        window.prepareUpload = function(){
            generateMeme();
            let dataURL = canvas.toDataURL("image/jpeg", 0.7);
            document.getElementById("finalImage").value = dataURL;
        }

    });
    </script>
    <script>
        function sharePost(postId){
            let base = window.location.hostname === "127.0.0.1"
                ? "https://memefactory-dwu4.onrender.com"
                : window.location.origin;

            let url = `${base}/post/${postId}/`;

            if (navigator.clipboard) {
                navigator.clipboard.writeText(url)
                    .then(() => alert("Link copied!"))
                    .catch(() => fallbackCopy(url));
            } else {
                fallbackCopy(url);
            }
        }

        function fallbackCopy(text){
            let temp = document.createElement("input");
            temp.value = text;
            document.body.appendChild(temp);
            temp.select();
            document.execCommand("copy");
            document.body.removeChild(temp);
            alert("Link copied!");
        }
    </script>

    <script>

        let lastScrollTop = 0;

        const navbar = document.querySelector(".modern-header");

        window.addEventListener("scroll", function () {

            let currentScroll =
                window.pageYOffset ||
                document.documentElement.scrollTop;

            if(currentScroll > lastScrollTop){

                /* SCROLL DOWN */

                navbar.classList.add("hide-navbar");

            } else {

                /* SCROLL UP */

                navbar.classList.remove("hide-navbar");
            }

            lastScrollTop = currentScroll <= 0
                ? 0
                : currentScroll;
        });

    </script>

    <!-- LOGOUT MODAL -->

        <div id="logoutModal" style="
            display:none;
            position:fixed;
            top:0;
            left:0;
            width:100%;
            height:100%;
            background:rgba(0,0,0,0.45);
            backdrop-filter:blur(6px);
            justify-content:center;
            align-items:center;
            z-index:3000;
        ">

            <div id="logoutBox" style="
                background:#1e293b;
                color:white;
                width:320px;
                padding:28px;
                border-radius:18px;
                text-align:center;
                transform:scale(0.7);
                opacity:0;
                transition:all 0.25s ease;
            ">

                <p style="
                    color:rgba(255,255,255,0.65);
                    margin-bottom:22px;
                ">
                    Are you sure you want to leave MemeFactory?
                </p>

                <div style="
                    display:flex;
                    justify-content:center;
                    gap:12px;
                ">

                    <button onclick="closeLogoutModal()"
                        style="
                        padding:10px 18px;
                        border:none;
                        border-radius:10px;
                        background:#334155;
                        color:white;
                    ">
                        Cancel
                    </button>

                    <a href="/logout/"
                        style="
                        padding:10px 18px;
                        border-radius:10px;
                        background:#ef4444;
                        color:white;
                        text-decoration:none;
                    ">
                        Log Out
                    </a>

                </div>

            </div>
        </div>

        <script>

            function openLogoutModal(){

                let modal =
                    document.getElementById('logoutModal');

                let box =
                    document.getElementById('logoutBox');

                modal.style.display = 'flex';

                setTimeout(() => {

                    box.style.transform = 'scale(1)';
                    box.style.opacity = '1';

                }, 10);
            }

            function closeLogoutModal(){

                let modal =
                    document.getElementById('logoutModal');

                let box =
                    document.getElementById('logoutBox');

                box.style.transform = 'scale(0.7)';
                box.style.opacity = '0';

                setTimeout(() => {

                    modal.style.display = 'none';

                }, 200);
            }

        </script>
        <script>

            function handleSearchSubmit(event){

                event.preventDefault();

                let input =
                    document.getElementById("searchBox");

                let username =
                    input.value.trim();

                if(username.length === 0){
                    return false;
                }

                fetch(`/search-ajax/?q=${username}`)

                .then(response => response.json())

                .then(data => {

                    let exactUser = data.find(
                        user =>
                        user.username.toLowerCase()
                        === username.toLowerCase()
                    );

                    if(exactUser){

                        window.location.href =
                            `/profile/${exactUser.username}/`;
                    }
                });

                return false;
            }

            </script>

</body>


</html>