{% load static %}

<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'assets/images/favicon.png' %}" rel="icon" type="image/png">
    <title>Sign In</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">

</head>

<body class="auth-page">

    <div class="floating-emoji" style="left:10%; animation-delay:0s;">😂</div>
    <div class="floating-emoji" style="left:30%; animation-delay:2s;">🔥</div>
    <div class="floating-emoji" style="left:50%; animation-delay:4s;">😎</div>
    <div class="floating-emoji" style="left:70%; animation-delay:1s;">😏</div>
    <div class="floating-emoji" style="left:85%; animation-delay:3s;">💀</div>


    <div id="wrapper" class="flex flex-col justify-between h-screen">

        <div class="auth-topbar">

            <a href="/" class="brand-logo">
                MemeFactory
            </a>

            <a href="/signup" class="register-btn">
                <i class="uil-user-plus"></i> Register
            </a>

        </div>

        <!-- Content-->
        <div>
            <div class="auth-card lg:p-12 max-w-md mx-auto p-8 auth-container">
                <h1 class="auth-title">Welcome Back 👋</h1>

                <p class="auth-subtitle">
                    Dive back into the meme universe
                </p>

                <div>
                    <style>
                        h5{
                            color: red;
                        }
                    </style>
                    {% for message in messages %}
                    <h5>{{message}}</h5>
                    {% endfor %}
                </div>

                <form action="/signin/" method='POST'>
                    {% csrf_token %}
                    <div class="input-wrapper">

                        <i class="uil-user input-icon"></i>

                        <input type="text"
                            name="username"
                            placeholder="Username"
                            class="auth-input auth-input-icon mb-2">

                    </div>
                    <div style="position: relative; width: 100%;">
                        <div class="input-wrapper">

                            <i class="uil-padlock input-icon"></i>

                            <input type="password"
                                name="password"
                                placeholder="Password"
                                class="auth-input auth-input-icon mb-6">

                            <span class="password-toggle"
                            onclick="togglePassword('password', this)">
                                <i class="uil-eye-slash"></i>
                            </span>

                        </div>
                        
                        <span class="password-toggle"
                            onclick="togglePassword('password', this)">
                                <i class="uil-eye-slash"></i>
                        </span>
                    </div>
                    <!-- <div class="flex justify-between my-4">
                        <div class="checkbox">
                            <input type="checkbox" id="chekcbox1" checked>
                            <label for="chekcbox1"><span class="checkbox-icon"></span>Remember Me</label>
                        </div>
                        <a href="#"> Forgot Your Password? </a>
                    </div> -->
                    <button type="submit" class="auth-btn">
                        🚀 Login
                    </button>
                    <div class="text-center mt-5 space-x-2">
                        <p class="signin-switch-text">
                            Don't have an account?
                            <a href="/signup">Create account</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
        
        <!-- Footer -->
        <div class="auth-bottom-bar">

            <div class="bottom-left-links">
                <a href="#">About</a>
                <a href="#">Help</a>
            </div>

            <div class="bottom-right-copy">
                ©Copyright 2026 MemeFactory
            </div>

        </div>

    </div>


    <!--<script>
        
        (function (window, document, undefined) {
            'use strict';
            if (!('localStorage' in window)) return;
            var nightMode = localStorage.getItem('gmtNightMode');
            if (nightMode) {
                document.documentElement.className += ' dark';
            }
        })(window, document);
    
    
        (function (window, document, undefined) {
    
            'use strict';
    
            // Feature test
            if (!('localStorage' in window)) return;
    
            // Get our newly insert toggle
            var nightMode = document.querySelector('#night-mode');
            if (!nightMode) return;
    
            // When clicked, toggle night mode on or off
            nightMode.addEventListener('click', function (event) {
                event.preventDefault();
                document.documentElement.classList.toggle('dark');
                if (document.documentElement.classList.contains('dark')) {
                    localStorage.setItem('gmtNightMode', true);
                    return;
                }
                localStorage.removeItem('gmtNightMode');
            }, false);
    
        })(window, document);
    </script>-->

    <!-- Scripts
    ================================================== -->
    <script src="{% static 'assets/js/tippy.all.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    
    <script>
        function togglePassword(fieldName, element) {

            const input = document.querySelector(`input[name="${fieldName}"]`);
            const icon = element.querySelector("i");

            if (input.type === "password") {
                input.type = "text";
                icon.classList.remove("uil-eye-shash");
                icon.classList.add("uil-eye");
            } else {
                input.type = "password";
                icon.classList.remove("uil-eye");
                icon.classList.add("uil-eye-slash");
            }
        }
    </script>


</body>


</html>